<p>collegewars works!</p>
<div class="topimage">
    <img  class="logo" alt="9stacks" src="https://www.9stacks.com/assets/icons/9stacks-logo.png"/>
    <h3>| UNI.POKER</h3>
</div>
    <div class="promo">
        <h3>#Fly to Vegas with 9tacks</h3>
    </div>
<div class="banner">
    <img  class="banner-img" alt="9stacks" src="https://assets1.9stacks.com/images/assets/images/college-wars/uni-poker_web-homepage_1440x500.jpg"/>
</div>

<div class="heading2">
    <h3 class="myheading">What is UNI.POKER</h3>    
</div>
<div class="heading3">
    <h4>Now Universities get a chance to win an all paid trip to play Poker in Vegas!
    </h4>
</div>
<div class="la">
   <div class="image-section" >
    <img  class="la-image" src="https://assets1.9stacks.com/images/assets/images/college-wars/UP-02.png" alt="la">
   
    </div>
    <div class="rules"> 
        <p class="line1" >To Qualify, each college has to make 2000 points, Top 5 players from every college will qualify for the finale tournament for Vegas</p>
        <p class="line2">Incase your college does not qualify, not to worry! Make 500 points individually and can still qualify!</p>
    </div>
</div>

<div class="verify-btn">
    <button class="mybutton"> COMPLETE VERIFICATION</button>
    <p class="verify-inst" >Please complete level 2 KYC to register for College wars.</p>
</div>
<div class="bottom-container">
    <div class="subheading">
        <h3>What you have to do</h3>
    </div>
    <div class="set">
        <div class="image-text" >
            <div >
                <img src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_Verification.png" alt="1">
            </div>
            <div class="mytext">
                Join your college team by verifying your college identification
            </div>
        </div>
        <div class="image-text" >
            <div >
                <img src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_Verification.png" alt="1">
            </div>
            <div >
                Join your college team by verifying your college identification
            </div>
        </div>
        <div class="image-text" >
            <div >
                <img src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_Verification.png" alt="1">
            </div>
            <div class="mytext">
                Join your college team by verifying your college identification
            </div>
        </div>
    </div>
</div>

<div class="bottom-container">
    <div class="subheading">
        <h3>What you get</h3>
    </div>
    <div class="set">
        <div class="image-text" >
            <div >
                <img class ="myimage" src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_merchandise.svg" alt="1">
            </div>
            <div class="mytext">
                Join your college team by verifying your college identification
            </div>
        </div>
        <div class="image-text" >
            <div >
                <img class ="myimage" src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_merchandise.svg" alt="1">
            </div>
            <div class="mytext">
                Join your college team by verifying your college identification
            </div>
        </div>
        <div class="image-text" >
            <div>
                <img  class ="myimage" src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_merchandise.svg" alt="1">
            </div>
            <div class="mytext">
                Join your college team by verifying your college identification
            </div>
        </div>
        <div class="image-text" >
            <div >
                <img class ="myimage" src="https://assets1.9stacks.com/images/assets/images/college-wars/UP_merchandise.svg" alt="1">
            </div>
            <div class="mytext">
                Join your college team by verifying your college identification
            </div>
        </div>
    </div>
</div>

