.topimage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height:30px;
    width:30px;
    
}
.promo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img{
    width:1112px;
    height:386px;
}
.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    margin-top: 2%;
}
.heading3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.myheading{
    margin-bottom:0px;
}
h4{
    margin-top: 0px;
}
.la-image{
    height: 188px;
    width: 311px;
}

.image-section{
    display:inline-block;
    width: 312px;
    margin-right: 0px;
    margin-left: 10%;
    /*background-color: green;*/
}
.rules{
    /*background-color: blue;*/
    text-align: left;
    line-height: 2;
    float:right;
    width: 50%;
    margin-top: 2%;
  }
  .line1{
      margin-bottom: 0px;
      line-height: 1;
  }
  .line2{
      margin-top: 0px ;
     
  }
  .la{
      /*background-color: red;*/
      margin-top: 4%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 4%;
  }
  .verify-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .mybutton{
      border-radius: 100px;
      background-color: #f81d69;
      font-size: 16px;
      border:none;
      color: #ffffff;
      padding: 10px 15px;
      margin: 15px 5px;
      
  }
  .verify-inst{
      display: inline;
      margin-top: 0px;
  }
  .bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  .image-text{
      display:flex;
      flex-direction: column;
      display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
 img{
      height: 156px;
      width: 220px;
  }

  .set{
      
      display:flex;
      flex-direction: row;
      justify-content: space-around;
     
  }
  .mytext{
    width: 70%;
    text-align: center;
  }
  .myimage{
      height:90px;
      width:90px;
  }
  .subheading{
      margin-bottom: 10px;
  }